<body>
    <div class="about-container">
        <div class="about-image">
            <img src="../../astrid_img.jpg" alt="Astrid Malter">
        </div>
        <div class="about-text">
                <p>Astrid Malter is a documentarian. Her passion for making things (big and small) led her to study nonfiction filmmaking at Carleton College. Her documentary work is interview based and revolves around cities and people. 
                <br><br>
                Her films have screened at The Coney Island Film Fest, The Downstream Environmental Film Fest, the St. Auggie’s Shorts Festival, and the McMinnville Shorts Festival. 
                <br><br>
                Her latest documentary, <i>Fl*shing Injustice</i>, was completed in Birmingham, Alabama, as part of the Southern Exposure Film Fellowship.
                <br><br>
                She lives in Brooklyn but works everywhere. 
                </p>
        </div>
    </div>
</body>