<body>
    <section id="projects">
        <article class="project">
            <h2>Bunnies</h2>
            <p>more detail coming soon.</p>
        </article>
        <article class="project">
            <h2>Greenwood Zine</h2>
            <p>more detail coming soon.</p>
        </article>
        <article class="project">
            <h2>Red Hook Photography</h2>
            <p>more detail coming soon.</p>
        </article>
        <article class="project">
            <h2>Films</h2>
            <p>more detail coming soon.</p>
        </article>
        <article class="project">
            <h2>Knitting</h2>
            <p>more detail coming soon.</p>
        </article>
    </section>
</body>
